@import "assets/styles/general";

.admin_submenu{
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  li{
    a{
      text-decoration: none;
      background-color: darken( $blue,50%);
      color: $text-light;
      display: block;
      border-bottom: 1px solid $grey;
      padding: 1rem 2rem;
      &:hover{
        background-color: $violet;
      }
    }
  }
}