{% extends 'base_admin.html.twig' %}


{% block title %}Nouvelle catégorie d’ingrédient{% endblock %}

{% block body %}
    <h1>Créer une catégorie d’ingrédient</h1>
    {{ include('admin/_form.html.twig') }}
{% endblock %}
