{% extends 'base_admin.html.twig' %}

{% block title %}Nouvelle catégorie de recette{% endblock %}

{% block body %}
    <h1>Créer une catégorie de recette</h1>
    {{ include('admin/_form.html.twig') }}
{% endblock %}
