{% extends 'base_admin.html.twig' %}

{% block title %}Nouvel ingrédient{% endblock %}

{% block body %}
    <h1>Créer un nouvel ingrédient </h1>

    {{ include('admin/_form.html.twig') }}

{% endblock %}
