<aside>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item ">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <i class="fa-solid fa-layer-group"></i> Catégories d’ingrédients
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="admin_submenu">
                        <li ><a href="{{path('app_category_ingredient_new')}}"><i class="fa-solid fa-plus"></i>  Ajouter</a></li>
                        <li><a href="{{path('app_category_ingredient_index')}}"><i class="fa-solid fa-list"></i> Liste</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <i class="fa-solid fa-layer-group"></i> Catégories de recettes
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="admin_submenu">
                        <li ><a href="{{path('app_category_recipe_new')}}"><i class="fa-solid fa-plus"></i>  Ajouter</a></li>
                        <li><a href="{{path('app_category_recipe_index')}}"><i class="fa-solid fa-list"></i> Liste</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <i class="fa-solid fa-carrot"></i> Ingrédients
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="admin_submenu">
                        <li ><a href="#"><i class="fa-solid fa-plus"></i> Ajouter</a></li>
                        <li><a href="#"><i class="fa-solid fa-list"></i> Liste</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    <i class="fa-solid fa-book"></i> Recettes
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="admin_submenu">
                        <li ><a href="#"><i class="fa-solid fa-plus"></i> Ajouter</a></li>
                        <li><a href="#"><i class="fa-solid fa-list"></i> Liste</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>