/*=================Screen Size=============*/

$xs:320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/*============== Colors ===============*/

$primary : #3498db;
$primary-dark: #2980b9;
$dark: #2c3e50;
$danger: #c0392b;
$secondary:#34495e;
$secondary-dark :#2c3e50;
$beige : #E6B89C;
$grey : #9CAFB7;
$blue : #9CAFB7;
$violet : #5B5F97;

      /*============== Background ===============*/

$bg_light : #ecf0f1;
$bg_dark : grey;
$bg_header : grey ;
$bg_footer : #211A1D;
$bg_aside : #343a40;

/*============== Text ===============*/

$text_primary : #6b717f;
$text_light : #fff;
$title_color : #2c3e50;



/*============== Layout Size ===============*/

$header_height : 50px;
$footer_height : 50px;

/*============== Font Size ===============*/

$font_md : 1.5rem;
$font_lg : 2rem;
$logo_size : 1.8rem;

/*============== Shadow ===============*/

$shadow : 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
$shadow_circle : 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23) !important;

/*============== Border ===============*/

$border : 1px solid #eee;
$border-radius : 3px;
