
/*============== Colors ===============*/

$primary : #FE938C;
$secondary :#E6B89C;
$beige : #E6B89C;
$grey : #9CAFB7;
$blue : #9CAFB7;
$violet : #5B5F97;

      /*============== Background ===============*/

$bg_light : lightgray;
$bg_dark : grey;
$bg_header : grey ;
$bg_footer : #211A1D;
$bg_aside : #343a40;

/*============== Text ===============*/

$text_primary : #6b717f;
$text_light : white;
$title_color : black;



/*============== Layout Size ===============*/

$header_height : 50px;
$footer_height : 50px;

/*============== Font Size ===============*/

$font_md : 1.5rem;
$font_lg : 2rem;
$logo_size : 1.6rem;

/*============== Shadow ===============*/

$shadow : 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);