@import "variables";
@import "reset_bootstrap";

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background: $bg_light;
  width: 100vw;
  min-height: 100vh;
  display: flex ;
  flex-flow: column nowrap;
}
h1,h2,h3,h4,h5{
  color: $title-color;
}
i{
  margin-right: 0.6rem;
}
a{
  text-decoration: none;
}
header{
  background: $blue;
  height: $header_height;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 1rem;
  .logo{
    font-weight: bold;

    font-size : $logo_size ;
    font-family: 'Indie Flower', cursive;
    img{
      margin-top: $header_height;
      z-index: 9999;
      position: relative;
    }
  }
  .profile{

    button{
      img{
        width: $header_height - 20px;
      }
    }
  .connected{

  }
  }
}

.content{
  min-height: calc(100vh - #{$header_height} - #{$footer_height});
  display: flex;
  flex-flow: row wrap;
}

main{
  padding: 1.5rem;
  flex: 3;
  min-height: calc(100vh - #{$header_height} - #{$footer_height});
  background: lighten($bg_aside,20% );
}
aside{
  background: $bg_aside;
  padding-top : 3rem;
  flex: 1;
  z-index: 5;
  min-height: calc(100vh - #{$header_height} - #{$footer_height});
  box-shadow: $shadow;
}
footer{
  background: $bg_footer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $footer_height;
  color: $text_light;
  flex-flow: row nowrap;
}
.vich-image img{
  width: 150px;
}
