@import "variables";

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: $bg_light;
  width: 100vw;
  min-height: 100vh;
  display: flex ;
  flex-flow: column nowrap;
}
h1,h2,h3,h4,h5{
  color: $title-color;
}
header{
  background: $blue;
  height: $header_height;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 1rem;
  .logo{
    font-weight: bold;
    font-size : $logo_size ;
  }
  .profile{

    button{
      img{
        width: $header_height - 20px;
      }
    }
  .connected{

  }
  }
}

.content{
  min-height: calc(100vh - #{$header_height} - #{$footer_height});
}

main{
  width: 75%;
  min-height: calc(100vh - #{$header_height} - #{$footer_height});
}
aside{
  background: $bg_aside;
  width : 25%;
  min-height: calc(100vh - (#{$header_height} - #{$footer_height}));
}
footer{
  background: $bg_footer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: $footer_height;
  color: $text_light;
  flex-flow: row nowrap;
}