{% extends 'base.html.twig' %}

{% block title %}Mes Recettes{% endblock %}

{% block stylesheets %}
 {{ parent() }}
 {{ encore_entry_link_tags('app_home') }}
{% endblock %}


{% block body %}

 <div class="container">
  <div class="actions">
   <a class="btn btn-primary" href="{{path('app_recipe_new')}}">Créer une recette</a>
  </div>
  <section class="category-list block">
   <h3>CATEGORIES DE RECETTE</h3>
   <div class="category_cards">
    {% for category in categories %}
     {{ include('front/_components/_category_card.html.twig')}}
    {% endfor%}
   </div>
  </section>
 </div>
{% endblock %}
