{% extends 'base.html.twig' %}

{% block title %}Créer une recette{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_new_recipe') }}
{% endblock %}

{% block body %}
    <div class="container-md my-4" >
        <h1>Créer une recette</h1>
        <div id="react_form">
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{parent()}}
    {{ encore_entry_script_tags( 'react_form') }}
{% endblock%}