{% extends 'base.html.twig' %}

{% block title %}Créer une recette{% endblock %}

{% block body %}
    <div class="container my-4" >
        <h1 class="my-3" >Créer une recette</h1>
        <div id="react_form" class="d-flex flex-column">
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{parent()}}
    {{ encore_entry_script_tags( 'react_form') }}
{% endblock%}