<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/673b9056b4.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="icon" href="{{asset('build/images/logo.svg')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        {% for message in app.flashes('success') %}
            {% include 'front/_components/toast.html.twig' with {"message" : message , 'success' : 'success'} %}
        {% endfor %}
        {% for message in app.flashes('danger') %}
            {% include 'front/_components/toast.html.twig' with {"message" : message, 'danger' : 'danger'} %}
        {% endfor %}
        {% set current_path = app.request.get('_route') %}
        {% include "layout/_header.html.twig" %}
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        {% include "layout/_footer.html.twig"%}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
