{% extends 'base.html.twig'%}
{% block body %}
    <div class="d-flex flex-row flex-nowrap">
        {{ include('front/profile/_sidebar.html.twig')}}
        <main>
            <h1></h1>
        </main>
    </div>
{% endblock%}