{% extends 'base.html.twig'%}
{% block title%}Mon Profil{%endblock%}
{% block body %}
        {{ include('front/profile/_sidebar.html.twig')}}
        <main>
            <h1></h1>
        </main>
{% endblock%}